{%extends 'base.html'%}
{%block title%}
{{title}}
{%endblock%}

{%block content%}

<style>
  .maga{
      width: 75%;
  } 
  
  .un {
      text-decoration: underline;
  }
  .start{
      color: white;
      background-color:rgb(24, 86, 210);
  }
  
</style>

<h4 class="text-center my-3 text-primary">News Articles</h6>
<ul class="bg-light py-4">
    {%for a in political%}
    <p class="start ms-0">{{a.source.name}}</p>
    <li class="list-unstyled mb-5 border-bottom mx-auto py-3">
        <p class="un"><span>{{a.title}}</span></p>
        <img class="maga"  src="{{a.urlimage}}" alt="pict">
        <div class="con mt-4">
            {%if a.content%}
            <p class="px-5"><strong class="text-danger">Content:</strong> <span>{{a.content}}</span></p>
            {%endif%}
        
        </div>
        <div class="d-flex justify-content-around mt-4">
            <p><strong class=" me-2">Published:</strong><span class="text-danger">{{a.publishedAt}}</span></p>
            <p><strong>Author:</strong><span class="text-danger ms-2">{{a.author}}</span></p>
            <div><a class="text-danger" target="blank" href="{{a.url}}">Read in full..</a></div>

        </div>
    </li>

    {%endfor%}
</ul>



{%endblock%}