{%extends 'base.html'%}
{{title}}
{%block title%}

{%endblock%}

{%block content%}
<h6 class="text-primary fs-2 text-center my-4">Dusk news Highlights</h6>
<ul class="border  rounded">
{%for p in political%}
<li class="list-unstyled py-5 border-bottom" >
<h6 class="">Source:<span class="text-danger ms-2">{{p.name}}</span></h6>

<p class="p-5 "><strong class="text-danger">Description:</strong><span class="ms-2">{{p.description}}</span></p>
<div class="d-flex justify-content-around bg-light rounded-pill p-2 mx-auto align-items-center">
    <div class="categ">
        <p>category: <span>{{p.category}}</span></p>
    </div>
    <div class="country">
        <p>Language: <span>{{p.language}}</span></p>
    </div>
    <div class="ur">
        <a target="blank" href="{{p.url}}">visit</a>
    </div>
</div>
</li>
{%endfor%}
</ul>
{%endblock%}